 p:first-letter {
   color: red;
   font-size: 22px;
 }
.background-green {
  color: white;
  background-color: green;
}
.italic {
  font-style: italic;
}
.orange {
  color: orange;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.grey {
  color: grey;
}
.green {
  color: green;
}
.bold{
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.student_visit th {
  padding: 0 15px;
}
.student_visit td {
  text-align: center;
}
.student_visit td  {
  background-color: green;
  color: white;
}
.student_visit td:first-child {
  background-color: white;
  text-align: left;
  color: orange;
}
.color-table  td:nth-child(2n+3) {
  background: #f2f2de;
}

.color-table tr:nth-child(2n){
  background: #ddebf7;
}
.color-table {
  border-spacing: 0px;
}
.color-table td {
  padding: 3px;
  border-bottom: 1px solid grey;
}
