 p:first-letter {
   color: red;
   font-size: 22px;
 }
.background-green {
  color: white;
  background-color: green;
}
.italic {
  font-style: italic;
}
.orange {
  color: orange;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.grey {
  color: grey;
}
.green {
  color: green;
}
.bold{
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.student_visit th {
  padding: 0 15px;
}
.student_visit td {
  text-align: center;
}
.student_visit td  {
  background-color: green;
  color: white;
}
.student_visit .st_name {
  background-color: white;
  text-align: left;
  color: orange;
}
.light-blue {
  background: #ddebf7;
}
.beige {
  background: #f2f2de;
}
