.comment {
  margin-bottom: 30px;
}
.comment__body {
  width: auto;
  margin-left: 115px;
  font-size: 14px;
  color: #959595;
}
.comment .avatar {
  float:left;
  border-radius: 10px;
}
.title {
  color: #EE8C33;
  font-size: 50px;
  text-transform: capitalize;
  margin: 40px 0px 30px 60px;
}
.comment__title {
  font-size: 22px;
  color: #637f83;
  margin: 0 0 10px 0;
}
