.arrow {
  width: 680px;
  height: 40px;
  background-color: #F9CC5C;
  position: relative;
}
@mediaquery {

}
.arrow__input {
  margin: 3px 0 0px 3px;
  width: 600px;
}
.arrow:after {
  border: 20px solid transparent;
  border-left: 20px solid #F9CC5C;
  position: absolute;
  content: '';
  left: 680px;
   top: 0px;
}
