.menu {
   background-color: #A755FD;
   width: 900px;
   padding: 0 50px;
   margin: auto;
}
.holder-menu {
  background-color: #A755FD
}
body {
  margin: 0;
}

.menu li {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 5px  20px;
  cursor: pointer;
  text-transform: capitalize;

}
.menu li:hover {
  background-color: #6B3F9A;
}
.menu li.active {
  background-color: #EEEEEE;
  color: #A6B3BE;
}

.menu_float {
  background-color: #A755FD;
}
.menu_float li:hover {
  background-color: #EEEEEE;
  color: #A6B3BE;
}
.menu_float li {
  float: left;
  color: white;
  font-size: 20px;
  padding: 5px  20px;
  cursor: pointer;
  text-transform: capitalize;

}
.menu_float li:nth-last-child(2){
  float: right;
}
.clear {
  clear:both;
}

.page-navigation {
  background-color: #FAFAFB;
  color: #A248D0;
}
.page-navigation a:hover {
  background-color: #A248D0;
  color: white;
}

.center li{
  display: inline-block;
  padding: 5px 3px 5px 0px;
  vertical-align: middle;
}
.number {
  display: inline-block;
  border: 1px solid #D8D7D7;
  border-radius: 5px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}
.center li:first-child {
  margin-right: 30px;
}
.center li:last-child {
  margin-left: 30px;
}
.center li:nth-child(2) {
  margin-right: 10px;
}
.center li:nth-last-child(2) {
  margin-left: 10px;
}
