
body {
  font-size: 130px;
}

.letter {
  color: transparent;
  text-shadow: 0 0 4px black;
  line-height: 1.5;
  text-transform: capitalize;
  display: inline-block;
  font-size: 80%;
  text-align: justify;

}
.table {
  max-width: 330px;
}

.last-line {
  letter-spacing: 17px;
}
