
body {
  font-size: 130px;
}

.letter {
  line-height: 1.5;
  text-transform: capitalize;
  display: inline-block;
  font-size: 80%;
  text-align: justify;
  letter-spacing: 5px;
}
.table {
  max-width: 330px;
}
.line-red {
  margin: 5px 0;
  border-bottom: 1px red solid;
}
