.client-says {
  background-image: url(task2_3.png);
}
.avatar {
  position: absolute;
}
.title {
  margin: 40px;
  color: #3370A8;
  text-align: center;
  text-transform: uppercase;
}
.orange_letter {
  color: #EE8133;
}
.comment__body {
  top: 2px;
  margin-bottom: 10px;
  min-height: 95px;
  margin-left: 125px;
  padding: 10px;
  width: auto;
  background-color: white;
  position: relative;
  display: inline-block;
}
.comment__body::before{
  content: '';
  left: -33px;
  top: 47px;
  position: absolute;
  border: 13px solid transparent;
  border-right: 20px solid white;
}
.comment__header .user-name {
  display: inline-block;
  float: left;
}
.comment__header .customer {
  display: inline-block;
  float: right;
}
.clear {
  clear: left;
}
.comment__header {
  font-style: italic;
  color: #3070A8;
  border-bottom: 1px dotted black;
}
.comment-text {
  padding-top: 10px;
  line-height: 1.5;
}
