body {
  padding: 0 140px;
}
.inner-body {
  border-left: 2px solid #B8F9FA;
  border-right: 2px solid #B8F9FA;
}
.header {
  padding: 20px 0px;
}
.header__icon {
 display: inline-block;
 font-size: 25px;
}
.header__menu li {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  color: grey;
  padding: 20px 10px;
}
.header__menu li:hover {
  color: #3070A8;
  border-bottom: 1px solid #3070A8;
}

.header ul {
  float: right;
}
.blue_letter {
  color: #3070A8;
}
.header__icon .blue_letter {
  font-weight: bold;
  text-transform: uppercase;
}
.clear {
  clear: both;
}
