 body {
   background:linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
   linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
   linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
   linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
   linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
   linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
   background-color: #131313;
   background-size: 20px 20px;
 }
.title {
  color: #3370A8;
  text-align: center;
  text-transform: uppercase;
}
.orange_letter {
  color: #EE8133;
}
.comment-holder  {
  display: inline-block;
  width: 49%;
}
.comment {
  padding: 20px;
}
.comment__body::before{
  content: '';
  left: -33px;
  top: 47px;
  position: absolute;
  border: 13px solid transparent;
  border-right: 20px solid white;
}

.comment img {
  width: 130px;
  display: inline-block;
}
.comment .comment__body {
max-width: 490px;  
min-height: 105px;
margin-left: 20px;
vertical-align: top;
padding: 10px;
display: inline-block;
background-color: white;
position: relative;
left: 130px;
top: -125px;
}
.comment__header .user-name {
  display: inline-block;
  float: left;
}
.comment__header .customer {
  display: inline-block;
  float: right;
}
.comment__header {
  padding: 10px;
  font-style: italic;
  color: #3070A8;
  border-bottom: 1px dotted black;
}
.clear {
  clear: left;
}
.comment-text {
  padding: 5px;
  line-height: 1.5;
}
