body {
  margin: 0;
}
.holder-menu {
  background-color: #3AA4FB;
}
.main-menu {
  width: 900px;
  margin: 0 auto;
}
.main-menu li {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;;
  color: white;
  padding: 10px 7px;
  font-family: Impact;
  font-size: 20px;
}
.main-menu li:hover {
  background-color: #EEEEEE;
  color: #878787;
}
.holder-menu_second{
  background-color: #EEEEEE;
  position: absolute;
  left: 0;
  width: 100%;
  top: 44px;
  display: none;

}
.main-menu li:hover .holder-menu_second{
  display: block;
}
.sub-menu {
  width: 900px;
  margin: 0 auto;
}
.sub-menu li {
  color: #878787;
  text-transform: capitalize;

}
